@font-face {
    font-family: 'Mortal-Kombat-MK11';
    src: url('Mortal-Kombat-MK11.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Mortal-Kombat-MK11', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    background-image: url('MenuMK.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: inherit;
}

p{
    background-color: black;
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    border-right: 6px solid #A0A0A0;
    border-left: 6px solid #A0A0A0;
}

h1{
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 
        0px 0px 5px black, 
        0px 0px 10px black;
    font-size: xx-large;
}

h2{
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 
        0px 0px 5px black, 
        0px 0px 10px black;
    font-size: xx-large;
}

img{
    display: block;
    margin: auto;
    max-width: 600px;
    max-height: 400px;
    border: 6px solid #404040;
}

button{
    cursor: pointer;
    font-family: 'Mortal-Kombat-MK11', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C9A227;
    text-transform: uppercase;
    display: inline-block;
    background-color: #404040;
    margin: auto;
    padding: 10px 20px;
}

a{
    display: inline-block;
}