@font-face {
    font-family: 'Mortal-Kombat-MK11';
    src: url('Mortal-Kombat-MK11.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Mortal-Kombat-MK11', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    background-image: url('MenuMK.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: inherit;
}

p{
    background-color: black;
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    border-right: 6px solid #A0A0A0;
    border-left: 6px solid #A0A0A0;
}

h1{
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 
        0px 0px 5px black, 
        0px 0px 10px black;
    font-size: xx-large;
}

h2{
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 
        0px 0px 5px black, 
        0px 0px 10px black;
    font-size: xx-large;
}

img{
    display: block;
    margin: auto;
    max-width: 600px;
    max-height: 400px;
    border: 6px solid #404040;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
}

button{
    cursor: pointer;
    font-family: 'Mortal-Kombat-MK11', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #C9A227;
    text-transform: uppercase;
    display: inline-block;
    background-color: #404040;
    margin: auto;
    padding: 10px 20px;
}

button:hover {
    transform: scale(1.1);
    background-color: #C9A227;
    color: black;
    transition: all 0.3s ease-in-out;
}

a{
    display: inline-block;
}

table{
    margin: auto;
    display: block;
}

.produtoras{
    text-align: left;
    display: block;
    background-color: black;
    color: #C9A227;
    padding: 10px 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-right: 6px solid #A0A0A0;
    border-left: 6px solid #A0A0A0;
}

.animar {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}