@font-face {
    font-family: 'Mortal-Kombat-MK11';
    src: url('Mortal-Kombat-MK11.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Mortal-Kombat-MK11', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    background-image: url('MenuMK.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: inherit;
}

p{
    background-color: black;
    display: inline-block;
    color: #C9A227;
    padding: 10px 20px;
    border-radius: 5px;
    border-right: 6px solid #A0A0A0;
    border-left: 6px solid #A0A0A0;
}